.idea/
ApiServer/
DotNet/
Bundles/
Library/
Keystore/
Logs/
obj/
Temp/
HotfixOut/
TextToolDatas/
YooAsset.EditorExtension.csproj
Unity.Model.csproj
Unity.Loader.csproj
Config/Excel/
Config/Json/
DotNet/.vs/
DotNet/App/obj/
DotNet/Core/obj/
DotNet/Hotfix/obj/
DotNet/Loader/obj/
DotNet/Model/Generate/Config/
DotNet/Model/Generate/Message/
DotNet/Model/obj/
DotNet/ThirdParty/obj/
Share/LitJson/obj/
Share/Tool/obj/
Share/UnityEngine/obj/
Share/Share.SourceGenerator/obj/
Share/Analyzer/obj/
Share/Analyzer/bin/
Unity.Core.csproj
Unity.Core.csproj.user
Unity.Editor.csproj
Unity.Hotfix.csproj
.vs/
Unity.ThirdParty.csproj
Unity.sln
.vsconfig
Assets/Bundles/Code/
Assets/Bundles/Code.meta
Assets/Bundles/AotDll/
Assets/Bundles/AotDll.meta
Assets/Bundles/Config/
Assets/Resources/GlobalConfig.asset
Assets/Resources/GlobalConfig.asset.meta
Codes/Generate/Config/
Codes/Generate/Message/
HybridCLRData/
~$*.xlsx
~$*.xlsx.meta
~$*.csproj
~$*.csproj.user
*.csproj
.vscode/
.vs/
Unity.Hotfix.csproj.user
Assets/StreamingAssets/yoo/
Assets/StreamingAssets/yoo.meta
UserSettings/
Assets/Resources/BuildinFileManifest.asset.meta
Assets/Resources/BuildinFileManifest.asset
Assets/Log/
Assets/Log.meta
.idea/
Assets/Tmp/
Assets/Tmp.meta
MemoryCaptures/
Recordings/
